/* Ajoutez ces styles dans votre fichier CSS ou SCSS */

.custom-dialog-content {
  text-align: center;
}

.dialog-text {
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  flex-direction: column; /* Met les boutons l'un au-dessus de l'autre */
  align-items: center; /* Centre les boutons horizontalement */
  margin-top: 20px;
}

.dialog-button {
  width: 150px; /* Ajustez la largeur des boutons selon vos besoins */
  margin-bottom: 10px; /* Espace entre les boutons */
}

.custom-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
