.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.form-frame {
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.form-control {
  width: 100%; /* Les champs texte et la date ont la même largeur */
  padding: 8px;
  margin: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.row-bottom{
  padding-top: 150px;
}
