<div class="row">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
        <td mat-cell *matCellDef="let booking"> {{booking.id}} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><i class="fa-solid fa-calendar-days"></i></th>
        <td mat-cell *matCellDef="let booking">
          <ng-container *ngIf="!booking.editMode; else editMode">{{booking.date | date:'dd-MM-yyyy \\ hh:mm'}}</ng-container>
          <ng-template #editMode><input  type="text" [(ngModel)]="booking.date"></ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="reservedSeats">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><i class="fa-solid fa-chair"></i></th>
        <td mat-cell *matCellDef="let booking">
          <ng-container *ngIf="!booking.editMode; else editMode">{{booking.reservedSeats}}</ng-container>
          <ng-template #editMode><input  type="text" [(ngModel)]="booking.reservedSeats"></ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="idPassenger">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Passenger</th>
        <td mat-cell *matCellDef="let booking">
          <ng-container *ngIf="!booking.editMode; else editMode">{{booking.idPassenger}}</ng-container>
          <ng-template #editMode><input  type="text" [(ngModel)]="booking.idPassenger"></ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="idTrip">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Trip</th>
        <td mat-cell *matCellDef="let booking">
          <ng-container *ngIf="!booking.editMode; else editMode">{{booking.idTrip}}</ng-container>
          <ng-template #editMode><input  type="text" [(ngModel)]="booking.idTrip"></ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef><i class="fa-solid fa-trash"></i></th>
        <td mat-cell *matCellDef="let booking">
          <a (click)="deleteBookink(booking)">
            <i class="fa-solid fa-trash"></i>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page"></mat-paginator>
  </div>
</div>
